<footer class="footer navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="col-md-8">
            <p>CSC155 Final Project Parkland College Team 3: Leighann Calentine, Jeffrey Samson, Zeyu Wen</p>
        </div>
        <div class="col-md-2"></div>
        <div class="col-md-2"> <p>Copyright 2016</p></div>
    </div>
</footer>