<footer class="footer">
    <div class="container">
        <div class="col-md-6">
            <p>CSC155 Final Project Parkland College Team 3 Leighann Calentine, Jeffrey Samson, Zeyu Wen</p>
        </div>
        <div class="col-md-4"></div>
        <div class="col-md-2"> <p>Copyright 2016</p></div>
    </div>
</footer>