<footer class="footer"  >
    <div class="container">
        <div class="col-md-6">
            <p>CSC155 Final Project Parkland College Team 3 Leighann Calentine, JEffrey Samson, Zeyu Wen</p>
        </div>
        <div class="col-md-4"></div>
        <div class="col-md-2"> <p>Copyright 2016</p></div>
    </div>
</footer>

<!DOCTYPE html>
<html>
    
<body>
    
</body>    
</html>


<div class="container">
    <div class="row">
        <div class="col-md-12">
            
        </div>
    </div>
    
</div>








<ul class="header-nav user-nav right">
    <li class="login"><a href="">Login/Out</a></li>
</ul>