<header>
    <nav class="navbar navbar-default">
        <ul class="nav">
            <li><a href="./login">Login</a></li>
            <li><a href="./logout">Logout</a></li>
            <li><a href="./list">List</a></li>
            <li><a href="./search">Search</a></li>
            <li><a href="./calc">Calculator</a></li>
        </ul>
    </nav>
</header>