<header>
    <nav class="navbar navbar-fixed-top">
        <ul class="nav navbar-nav">
            <li><a href="/list">List</a></li>
            <li><a href="/search">Search</a></li>
            <li><a href="/calc">Calculator</a></li>
            <li ><a href="/login">Login/Out</a></li> 
        </ul>
    </nav>
</header>