<!DOCTYPE html>
<html>
     <%include ./partials/head.ejs%>
<body>
   
   
   <div class="container">
   <%include ./partials/header.ejs%>  
        <div class="row">
            <div class="col-md-12">
                <form action="/login" method="post">
	                <div>
                        <label>Username:</label>
	                    <input type="text" name="username"/><br/>
	                </div>
	                <div>
	                    <label>Password:</label>
	                    <input type="password" name="password"/>
	                </div>
	                <div>
	                    <input type="submit" value="Submit"/>
	                </div>
                    <div>
	                    <input type="submit" value="Logout"/>
	                </div>
                </form>
            </div>
        </div> 
    </div>
 
   
     <%include ./partials/footer.ejs%>
     <%include ./partials/scripts.ejs%>
</body>    
</html>